@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title">
                        <a href="">
                            Web Development
                        </a>
                    </h4>
                    <p class="description">
                        Custom website development tailored to your specific needs and requirements.Responsive and mobile-friendly designs that provide an optimal user experience across all devices.Integration of modern web technologies to enhance functionality and interactivity.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title">
                        <a href="">
                            App Layout Design
                        </a>
                    </h4>
                    <p class="description">
                        Eye-catching and intuitive app layout designs that prioritize usability and aesthetics.Collaboration to understand your app's goals and target audience, ensuring a seamless user experience.Creation of wireframes and prototypes to visualize the app's flow and functionality.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a href=""> Brand Identity Design</a></h4>
                    <p class="description">
                        Creation of unique and memorable brand identities that effectively communicate your brand's values and message.Designing visually striking logos, brand guidelines, and marketing collateral.Ensuring consistency across all brand touchpoints to establish a strong and cohesive brand presence.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href=""> Graphic Design</a></h4>
                    <p class="description">
                        Eye-catching designs for various mediums, including social media graphics, banners, posters, and more. Attention-grabbing illustrations and infographics that convey information in a visually appealing manner.Photo editing and retouching to enhance the overall quality of your visual content.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href=""> Creative Consultation</a></h4>
                    <p class="description">
                        Providing expert guidance and insights to help you brainstorm and refine your creative ideas.Offering suggestions and recommendations based on industry trends and best practices.Assisting in translating your vision into a tangible and impactful creative solution.

                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End Services Section -->
</main>